body { 
    background-image: url(bild.jpg);
   
}


table {
    border: 10px solid rgba(71, 67, 67, 0.452);
    border-collapse: separate;
    text-align: center;
    
  }
td {
    border: 5px solid rgba(71, 67, 67, 0.452);
    border-collapse: separate; 
}
th {
  border: 5px solid rgba(71, 67, 67, 0.452);
  border-collapse: separate; 
}
  main {
    text-align: center;
  }

h1 {
    text-align: center;
}
a:link {
  color: black;
}

a:visited {
  color: red;
}

a:hover {
  color: blue;
}


a:active {
  color: black;
}